{% extends 'base.html' %}
{% block content %}
<h3 class="mb-4">Tabel Data Performance Check DME</h3>

<a href="{{ url_for('home') }}" class="btn btn-secondary mb-3">Kembali</a>
<a href="{{ url_for('dme.add_station_dme') }}" class="btn btn-primary mb-3">Tambah Stasiun</a>
<a href="{{ url_for('dme.dme_dashboard') }}" class="btn btn-danger mb-3">Lihat Dashboard</a>


{% for item in grouped_data_dme %}
<h5 class="mt-5 p-2 bg-light border-start border-4 border-primary">
    <i class="bi bi-broadcast me-2 text-danger"></i>
    {{ item.station_dme.nama_stasiun_dme }} - {{ item.station_dme.frekuensi_dme }} X
</h5>


{% for year, txs in item.per_year.items() %}
<h6 class="mt-3 text-muted">Tahun: {{ year }}</h6>
<table class="table table-bordered table-striped">

    <thead class="table-secondary text-center">
        <tr>
            <th>TX1 Power</th>
            <th>Spacing</th>
            <th>Delay</th>
            <th>TX2 Power</th>
            <th>Spacing</th>
            <th>Delay</th>
            <th>Tanggal</th>
            <th>PIC</th>
            <th class="text-center"><i class="bi bi-tools"></i></th>
        </tr>


    </thead>
    <tbody>
        {% for row in txs %}
        <tr>
            <td
                class="{% if row.tx1_power and row.tx1_power < 80 %}text-danger{% elif row.tx1_power and row.tx1_power >= 100 %}text-success{% endif %}">
                {{ row.tx1_power or '' }}</td>
            <td class="text-center">{{ row.tx1_spacing or '' }}</td>
            <td class="text-center">{{ row.tx1_delay or '' }}</td>
            <td
                class="{% if row.tx2_power and row.tx2_power < 80 %}text-danger{% elif row.tx2_power and row.tx2_power >= 100 %}text-success{% endif %}">
                {{ row.tx2_power or '' }}</td>
            <td class="text-center">{{ row.tx2_spacing or '' }}</td>
            <td class="text-center">{{ row.tx2_delay or '' }}</td>
            <td>{{ row.tanggal.strftime('%d %b %Y') }}</td>
            <td>{{ row.pic }}</td>
            <td class="text-center">
                <a href="{{ url_for('dme.edit_transmission_dme', id=row.id) }}" class="btn btn-sm btn-warning me-1"><i
                        class="bi bi-pencil-square"></i></a>
                <a href="{{ url_for('dme.delete_transmission_dme', id=row.id) }}" class="btn btn-sm btn-danger"
                    onclick="return confirm('Yakin ingin menghapus data ini?')"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endfor %}
{% endblock %}